@charset "utf-8"
@import bourbon/bourbon
@import neat/neat

$WIDTH: 568px
$HEIGHT: 320px

=button-shutter($c: #e7d93c, $c-text: #222)
  +inline-block
  overflow: hidden
  position: relative
  text-decoration: none
  padding: 10px 30px
  font-size: 14px
  color: $c-text
  background-color: transparent
  border: 1px solid $c-text
  max-width: 160px

  &:before
    +inline-block
    +transition(top, 0.3s)
    +skewY(-20deg)
    position: absolute
    top: -160px
    left: 0
    background-color: $c
    content: '　'
    width: 100%
    height: 120px
    z-index: -1
  &:hover
    &:before
      top: -40px


input[type="button"], input[type="submit"], button
  border-radius: 0
  -webkit-appearance: none

@mixin region($x, $y, $width, $height)
  position: absolute
  left: $x
  top: $y
  width: $width
  height: $height

body
  overflow: hidden
  padding: 0
  margin: 0

.debug-header
  // @include region(0px, 200px, 100px, 100px)
  position: absolute
  bottom: 0px
  left: 0px
  z-index: 1
  background-color: linen

#wdr-container
  // margin: 0 auto
  width: $WIDTH
  height: $HEIGHT
  background-color: linen
  overflow: hidden

// #scene-root
//   padding: 10px

a, a:link, a:visited, a:hover, a:active
  color: black
  text-decoration: underline


.entry-container
  .save-data-list
    li
      list-style-type: none
      @include outer-container()
      // .text
        // @include span-columns(3)
      // button
        // @include span-columns(3)

.battle-container
  .user-controller
    @include region(380px, 50px, 200px, auto)

    background: white
    position: absolute
    ul
      padding: 0
      margin: 0
      li
        list-style-type: none
        button
          width: 100%
          height: 45px
          padding: 1px 0


.dungeon-container
  .map-container
    position: relative
    @include region(50px, 50px, 400px, 350px)
    .cell
      display: inline-block
      width: 20px
      height: 20px
      background-color: green